<h1>Products</h1>

<%= search_form_for @q, html: {"data-controller": "filters", "data-turbo-frame": "table"} do |f| %>
  <div>
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont, "data-action": "filters#submit" %>
  </div>

  <div>
  <%= f.label :category_eq %>
  <%= f.select :category_eq, Product.categories, {include_blank: true}, {"data-action": "filters#submit"} %>
  </div>

  <div>
  <%= f.label :price_gt %>
  <%= f.search_field :price_gt, "data-action": "filters#submit" %>
  </div>

  <div>
  <%= f.label :price_lt %>
  <%= f.search_field :price_lt, "data-action": "filters#submit" %>
  </div>
<% end %>

<%= table_with(ransack_search: @q, records: @products, pagy: @pagy) do |table| %>
  <%= table.column :name %>
  <%= table.column :category %>
  <%= table.column :price %>
<% end %>
