<h1>Products</h1>

<%= render UI::DataGrid::Filters.new(ransack_search: @q) %>

<%= table_with(ransack_search: @q, records: @products, pagy: @pagy) do |table| %>
  <%= table.column :name %>
  <%= table.column :category %>
  <%= table.column :price do |record| %>
    <%= number_to_currency record.price%>
  <% end %>
<% end %>
